*.#*
*.pyc
*.pt.py
*.cache
.coverage
src/*/*.egg-info/*
*.log*
*.DS_Store
.Python
.installed.cfg
.project
.pydevproject
bin/*
develop-eggs/*
eggs/*
include/*
lib*/*
parts/*
docs/_build/*
*.cov2emacs.log
*~
*.swp
